%section.sign_in.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_tag url: sessions_path do |f|
        %header
          %h1
            Sign In
        = f.email_field :email, label: "Email Address", value: @login_email, autofocus: true
        = f.password_field :password
        = f.submit "Sign In"
        = link_to "Forgot password", forgot_password_path
