%section.reset_password.container
  .row
    .col-sm-10.col-sm-offset-1
      -# the as: "" is necessary in order to remap the post parameters so that they are
      -# not under the user: hash.  This is needed because the update_password method
      -# expects all parameters to be under the "root" of the post rather than in [:user][<parameters>]
      -# the reason I want this rather than simply using bootstrap_form_tag is that the form_for allows
      -# me to take advantage of validation errors set on the @user instance
      = bootstrap_form_for(@user, as: "", url: update_password_path, method: :post) do |f|
        %header
          %h1 Reset Your Password
        = f.alert_message "Please fix the errors below."
        = f.password_field :password
        = f.password_field :password_confirm, label: "Confirm Password"
        = f.hidden_field :token, value: @user.token
        = f.submit "Reset Password"
