%section.reset_password.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for(@user) do |f|
        %header
          %h1 Reset Your Password
        = f.password_field :password
        = f.password_field :password_confirm, label: "Confirm Password"
        = f.hidden_field :password_reset_token, value: @user.password_reset_token
        = f.submit "Reset Password"
