%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img{src: @video.cover_large_url}
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span= "Rating: #{@video.average_rating_string}"
        %p= @video.description

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      - if @review
        = bootstrap_form_for(@review, url: create_review_video_path(@video)) do |f|
          %label Rate this video
          = f.select :rating, [["Not Rated", 0]] + ((1..5).inject([]) { |memo,n| memo << ["#{n} " + "Star".pluralize(n), n ] }).reverse, {label: "Rating"}
          = f.text_field :title, label: "Review Title"
          = f.text_area :body, label: "Write Review"
          = f.submit "Submit"

      %header
        %h3= "User Reviews (#{@video.reviews.size})"
      %ul
        - @video.reviews.each do |review|
          = render "reviews/review_entry", review: review
