%tr
  %td
    = text_field_tag "video_queue_entry[#{queue_entry.id}]", queue_entry.position, data: {video_id: queue_entry.video.id}, class: "form-control"
  %td
    = link_to(queue_entry.video.title, video_path(queue_entry.video))
  %td
    = button_to "Play", nil, class: "btn btn-default"
  %td
    = select_tag("video_rating[#{queue_entry.video.id}]", options_for_select(ReviewsController.rating_choice_selection_options, queue_entry.rating_value), class: "form-control")
  %td
    - queue_entry.categories.each do |c|
      = link_to c.name, category_path(c)
  %td
    = link_to user_video_queue_entry_path(queue_entry.user, queue_entry), method: :delete do
      %i.glyphicon.glyphicon-remove
