%article.review
  %li.row
    .col-sm-2
      %span= "Rating: #{review.rating_summary_string}"
      %p by
      = link_to review.user.fullname, user_path(review.user)
    .col-sm-8
      %p
        %strong
          %em= review.title
      %p= review.body

